.site-apartados{
    border:1px blue solid;
    width: 100%;
    height: 250px;
}

.ubicacion{
    border:1px blue solid;
    width: 100%;
    height: 500px;
}
.site-contacto{
    border:1px blue solid;
    margin:auto auto;
    width: 90%;
    height: 250px;
}
.site-contacto form{
    margin: auto auto;
}